jdbc.driver org.postgresql.Driver
jdbc.url jdbc:postgresql://localhost/parts
jdbc.user parts
jdbc.password parts

mail.smtp.from=myusername@gmail.com
mail.smtp.auth=true
mail.smtp.username=myusername
mail.smtp.password=mypassword
mail.smtp.starttls.enable=true
mail.smtp.host=smtp.gmail.com
mail.smtp.port=587
